.cabeçalho_menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../imagens/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container_botao:checked ~ .container_rotulo > .cabeçalho_menu-hamburguer{
    background-image: url("../imagens/Menu Aberto.svg");
}

.container_botao:checked ~ .container_rotulo{
    background: var(--azul-degrade);
}

.cabeçalho{
    background-color: var(--branco); 
    display: flex;
    justify-content: space-between;
    align-items: center;  
    position: relative; 
}

.container{
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao:checked ~ .lista-menu{ /* Esse ~ serve como uma condicional, se o botao estiver checked ele vai pegar o lista menu e colocar o DISPLAY BOLCK. */
    display: block;
}

.lista-menu_titulo, .lista-menu_item{
    padding: 1em;
    background-color: var(--branco);
    color: var(--laranja);
    font-family: var(--fonte-principal);
}

.lista-menu_titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu_link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container_botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opções{
    display: none;
}

.container__texto{
    display: none;
}

@media screen and (min-width: 1024px){
    .container__titulo, .container__titulo-negrito{
        font-family: var(--font-secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo-negrito{
        font-weight: 700;
    }

    .opções{
        display: flex;
    }

    .opções__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container_imagem-tranparente{
        display: none;
    }

    .cabeçalho_menu-hamburguer{
        display: none;
    }

    .opções_botão:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opções_botão{
        display: none;
    }

    .opções_botão:checked ~ .opções_rotulo > .opções__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opções__item{
        padding: 1em;
    }

    .lista-menu_item:hover{
        background: var(--azul-degrade);
        
    }

    .lista-menu_item:hover > .lista-menu_link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px){
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabeçalho{
        padding: 0 2em;
    }

    .opções{
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }
}


    
