@import url("styles.css/header.css");
@import url("styles.css/banner.css");
@import url("styles.css/carrossel.css");
@import url("styles.css/topicos.css");
@import url("styles.css/contato.css");
@import url("styles.css/rodape.css");
:root{
    --cor-de-fundo: #4f596e;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --branco-gradiente: linear-gradient(255, 255, 255, 1);
    --azul: #002F52;
    --font-secundaria: "Josefin Sans";
    --preto: #000000;
    
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}